<div>
  <h2 id="page-heading" data-cy="GuardianDetailsHeading">
    <span jhiTranslate="templeMsApp.guardianDetails.home.title">Guardian Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templeMsApp.guardianDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-guardian-details"
        [routerLink]="['/guardian-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templeMsApp.guardianDetails.home.createLabel"> Create a new Guardian Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="guardianDetails?.length === 0">
    <span jhiTranslate="templeMsApp.guardianDetails.home.notFound">No guardianDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="guardianDetails && guardianDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.guardianDetails.name">Name</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.guardianDetails.address">Address</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.guardianDetails.contactType">Contact Type</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.guardianDetails.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.guardianDetails.updatedDate">Updated Date</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.guardianDetails.personalDetails">Personal Details</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guardianDetails of guardianDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/guardian-details', guardianDetails.id, 'view']">{{ guardianDetails.id }}</a>
          </td>
          <td>{{ guardianDetails.name }}</td>
          <td>{{ guardianDetails.address }}</td>
          <td jhiTranslate="{{ 'templeMsApp.ContactType.' + guardianDetails.contactType }}">{{ guardianDetails.contactType }}</td>
          <td>{{ guardianDetails.createdDate | formatMediumDate }}</td>
          <td>{{ guardianDetails.updatedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="guardianDetails.personalDetails">
              <a [routerLink]="['/personal-details', guardianDetails.personalDetails?.id, 'view']">{{
                guardianDetails.personalDetails?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/guardian-details', guardianDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/guardian-details', guardianDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(guardianDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
