<div>
  <h2 id="page-heading" data-cy="EmergencyContactDetailsHeading">
    <span jhiTranslate="templeMsApp.emergencyContactDetails.home.title">Emergency Contact Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templeMsApp.emergencyContactDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emergency-contact-details"
        [routerLink]="['/emergency-contact-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templeMsApp.emergencyContactDetails.home.createLabel"> Create a new Emergency Contact Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emergencyContactDetails?.length === 0">
    <span jhiTranslate="templeMsApp.emergencyContactDetails.home.notFound">No emergencyContactDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="emergencyContactDetails && emergencyContactDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.name">Name</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.address">Address</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.telephone">Telephone</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.email">Email</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.contactType">Contact Type</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.updatedDate">Updated Date</span></th>
          <th scope="col"><span jhiTranslate="templeMsApp.emergencyContactDetails.personalDetails">Personal Details</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emergencyContactDetails of emergencyContactDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emergency-contact-details', emergencyContactDetails.id, 'view']">{{ emergencyContactDetails.id }}</a>
          </td>
          <td>{{ emergencyContactDetails.name }}</td>
          <td>{{ emergencyContactDetails.address }}</td>
          <td>{{ emergencyContactDetails.telephone }}</td>
          <td>{{ emergencyContactDetails.email }}</td>
          <td jhiTranslate="{{ 'templeMsApp.ContactType.' + emergencyContactDetails.contactType }}">
            {{ emergencyContactDetails.contactType }}
          </td>
          <td>{{ emergencyContactDetails.createdDate | formatMediumDate }}</td>
          <td>{{ emergencyContactDetails.updatedDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="emergencyContactDetails.personalDetails">
              <a [routerLink]="['/personal-details', emergencyContactDetails.personalDetails?.id, 'view']">{{
                emergencyContactDetails.personalDetails?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emergency-contact-details', emergencyContactDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emergency-contact-details', emergencyContactDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emergencyContactDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
